{% extends "layout.html" %}
{% block content %}

    <div class="container-fluid">
        <h3>API</h3>
        <h4>POST endpoint: <code>http://datahappy.pythonanywhere.com/api/v1/</code></h4>
        <p>example of a post request: <code>curl -X POST -F Input_Text="your text for analysis" http://datahappy.pythonanywhere.com/api/v1/</code>
        </p>
        <p>successfull response: <code>["sentiment_result: {'naive_bayes': 'positive', 'logistic_regression': 'negative'}",200]</code>
        </p>
        <p>error response on insufficient input text: <code>["More words for analysis needed",400]</code>
        </p>
    </div>

{% endblock %}