{% extends "layout.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="p-3">
            <h3>API Documentation</h3>
            <h4>POST endpoint URL: <code>http://czester.herokuapp.com/api/v1/prediction/</code></h4>
            <p>The API currently allows only POST requests with a singleton input text value provided in the <code>Input_Text</code> parameter.</p>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">Example CURL POST request:
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info"><code>curl -X POST -F Input_Text="your text for analysis" http://czester.herokuapp.com/api/v1/prediction/</code></li>
                    </ul>
                </li>
                <li class="list-group-item list-group-item-light">Example CURL POST request success response:
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success"><code>{"mimetype":"application/json","sentiment_result":{"overall_sentiment":{"probability":0.72,"sentiment":"negative"}},"status":200}</code></li>
                    </ul>
                </li>
                <li class="list-group-item list-group-item-light">Example CURL POST request error response for <code>insufficient input text - missing at least 3 words</code>:
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-danger"><code>{"error":"Sorry, need to submit at least 3 non stop-words","mimetype":"application/json","status":400}</code></li>
                    </ul>
                </li>
                <li class="list-group-item list-group-item-light">Example CURL POST request error response for <code>insufficient input text - missing at least 1 word with 3 and more characters</code>:
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-danger"><code>{"error":"Sorry, need to submit at least 1 word with 3 and more characters","mimetype":"application/json","status":400}</code></li>
                    </ul>
                </li>
                <li class="list-group-item list-group-item-light">Example CURL POST request error response for <code>insufficient input text - Czech language not recognized</code>:
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-danger"><code>{"error":"Sorry, need to submit text written in Czech","mimetype":"application/json","status":400}</code></li>
                    </ul>
                </li>
                <li class="list-group-item list-group-item-light">Example CURL POST request error response for <code>not found</code>:
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-danger"><code>{"error":"404 Not Found: The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.","mimetype":"application/json","status":404}</code></li>
                    </ul>
                </li>
                <li class="list-group-item list-group-item-light">Example CURL POST request error response for a <code>bad request</code>:
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-danger"><code>{"error":"405 Method Not Allowed: The method is not allowed for the requested URL.","mimetype":"application/json","status":405}</code></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}