{% extends "layout.html" %}
{% block content %}

<div class="container-fluid">

    {% if template_sentiment_result %}
            <label for="result_{{ key }}"></label>
            {% for key, value in template_sentiment_result.items() %}
            <div id="result_{{ key }}"
                 {% if value =="positive" %}
                    class="alert alert-success"
                 {% else %}
                    class="alert alert-danger"
                 {% endif %}
            role="alert" >
                {{ key }} sentiment: {{ value }}
            </div>
        {% endfor %}
    {% endif %}

    {% if template_error_message %}
        <label for="error_message"></label>
        <div id="error_message" class="alert alert-danger">{{ template_error_message }}</div>
    {% endif %}

    <form action="{{ url_for('main') }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="InputText"></label>
            <textarea class="form-control" id="InputText" name="InputText" rows="5" maxlength="1000"
                      placeholder="Input Czech text for analysis here" required>{{template_input_string}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Odeslat - Submit</button>
    </form>

</div>

{% endblock %}