{% extends "layout.html" %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="{{ url_for('main') }}">Czech language sentiment analyzer</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('api') }}">API</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('api') }}">About</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('api') }}">Contact</a></li>
        </ul>
    </div>
</nav>

{% if template_sentiment_result %}
<div class="alert alert-info">
    Overall sentiment: <strong> {{ template_sentiment_result[0] }} </strong>
    <ol>
        {% for res in template_sentiment_result[1] %}
            <li>
                {{ res.get('word') }} : {{ res.get('sentiment_value') }}
                {% if res.get('fuzzy_ratio') %}
                    ( fuzzy ratio : {{ res.get('fuzzy_ratio') }} ,
                      fuzzy matched word : {{ res.get('fuzzy_matched_word') }} )
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</div>
{% endif %}

<!--https://getbootstrap.com/docs/4.3/components/navbar/-->

<div class="container-fluid">

    <form action="{{ url_for('main') }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="InputText"></label>
            <textarea class="form-control" id="InputText" name="InputText" rows="3"
                      placeholder="Input your text for analysis here...">{{template_input_string}}</textarea>
        </div>
        <div class="form-group">
            <label for="AlgorithmTypeSelect">Algorithm type</label>
            <select class="form-control" id="AlgorithmTypeSelect" name="AlgorithmTypeSelect">
                <option>Naive Bayes</option>
                <option>Word valence mean</option>
            </select>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="True" id="FuzzyMatch" name="FuzzyMatch"
                       {%if template_fuzzy %} checked {% endif %}>
                <label class="form-check-label" for="FuzzyMatch">
                    Fuzzy match input text words
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

{% endblock %}