{% extends "layout.html" %}
{% block content %}

<div class="container-fluid">
    <div class="p-3">
        <h3>Site Statistics</h3>
        <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><a href="{{ url_for('stats', period='day') }}"
                   {% if template_period=="day" %} class="font-weight-bold" {% endif %}>last 24 hours</a></li>

                <li class="list-group-item"><a href="{{ url_for('stats', period='week') }}"
                   {% if template_period=="week" %} class="font-weight-bold" {% endif %}>last week</a></li>

                <li class="list-group-item"><a href="{{ url_for('stats', period='month') }}"
                   {% if template_period=="month" %} class="font-weight-bold" {% endif %}>last month</a></li>
        </ul>
    </div>

    <script src="{{url_for('static', filename='js/external/Chart.bundle.min.js')}}"></script>

    <div class="container">
        <div class="row">
            <div class="col">
                <canvas id="pieChartSource"></canvas>
            </div>
            <div class="col">
                <canvas id="pieChartSentiment"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <canvas id="stackedChart"></canvas>
            </div>
        </div>
    </div>

    <script>

        var ctx = document.getElementById('pieChartSource').getContext('2d');
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
              labels: {{ template_pie_chart_labels_source | tojson }},
              datasets: [{
                label: "requests source",
                // sorted by keys in order this order: api, website
                backgroundColor: ["#0099cc", "#66ccff"],
                data: {{ template_pie_chart_data_source }}
              }]
            },
            options: {
              title: {
                display: true,
                text: 'requests source'
              },
              rotation: (-0.5 * Math.PI),
              responsive: true,
              maintainAspectRatio: false,
            }
        });

        var ctx = document.getElementById('pieChartSentiment').getContext('2d');
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
              labels: {{ template_pie_chart_labels_sentiment | tojson }},
              datasets: [{
                label: "overall sentiment",
                // sorted by keys in order this order: negative, positive, uncertain
                backgroundColor: ["#ff4d4d", "#99e699", "#d9d9d9"],
                data: {{ template_pie_chart_data_sentiment }}
              }]
            },
            options: {
              title: {
                display: true,
                text: 'overall sentiment'
              },
              rotation: (-0.5 * Math.PI),
              responsive: true,
              maintainAspectRatio: false,
            }
        });

        var ctx = document.getElementById("stackedChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ template_time_series_labels | tojson }},
                datasets: [{
                    label: 'negative',
                    backgroundColor: "#ff4d4d",
                    data: {{ template_time_series_data_negative }},
                }, {
                    label: 'positive',
                    backgroundColor: "#99e699",
                    data: {{ template_time_series_data_positive }},
                }, {
                    label: 'uncertain',
                    backgroundColor: "#d9d9d9",
                    data: {{ template_time_series_data_uncertain }},
                }],
            },
            options: {
                title: {
                    display: true,
                    text: 'time series sentiment'
                  },
                tooltips: {
                  displayColors: true,
                  callbacks:{
                    mode: 'x',
                  },
                },
                scales: {
                  xAxes: [{
                    stacked: true,
                    gridLines: {
                      display: false,
                    }
                  }],
                  yAxes: [{
                    stacked: true,
                    ticks: {
                      beginAtZero: true,
                      precision: 0,
                      stepSize: 5
                    },
                    type: 'linear',
                  }]
                },
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: { position: 'top' },
                }
        });



    </script>

</div>

{% endblock %}